* {
	margin:0px;
	padding:0px;
}

html, body{
	height:100%;
	overflow-x:hidden;
}

/*
body{
	background-image:url("./bg.jpg");
	background-attachment:fixed;
}
*/
H1, H2{
	color:white;
	font-family:Arial,sans-serif;
}
.bgImg{
	position:fixed;
	height:100%;
	width:100%;
	-webkit-filter: blur(1px);
	background-repeat: repeat-y;
	z-index:-1;
}

.mainDiv{
	/*Position*/
	margin-left:auto;
	margin-right:auto;
	background-image:url("./bg.jpg");
	background-attachment:fixed;
	/*Shape*/
	width:55vw;
	box-shadow: 0px 0px 20px 5px black;
}

.topDiv{
	/*Position*/
	position:relative;
	margin-left:50%;
	translate: -50% 0%;
	/*Shape*/
	width:500px;
	height:190px;
	border-bottom-right-radius:30px;
	border-bottom-left-radius: 30px;
	background-image:url("./logo.png");
}

.circleDiv{
	/*Position*/
	position:absolute;
	bottom:0;
	right:50%;
	translate: 50% 50%;
	/*Shape*/
	border-radius:50%;
	height:120px;
	width:120px;
	/*Placeholder*/
	background-image:url("./pp1.jpg");
	
}
.topH1text{
	margin-top:2em;
	text-align:center;
}
.h1Text{
	margin-top:0.1em;
	text-align:center;
}

.productPhoto{
	display:block;
	margin-left:50%;
	translate: -50% 0%;
	width:375px;
	height:450px;
}

.h2Text{
	margin-top:3em;
	text-align:center;
}

.menu{
	margin-left:50%;
	translate:-50% 0%;
	width:500px;
	height:600px;
}

.buttonAnchor{
	margin:auto;
	margin-top:20px;
	display:block;
	width:350px;
	height:44px;
}

.waButton{
	position:relative;
	margin-left:50%;
	translate:-50% 0%;
	background-color:#3cbf4c;
	transition-duration:0.3s;
	width:350px;
	font-size:30px;
	text-align:center;
	padding: 3px;
	color:white;
	border-radius:30px;
	border:2px solid white;
}
.waButton:hover{
	background-color:white;
	color:#3cbf4c;
	cursor:pointer;
}

.whatsAppdiv{
	position:absolute;
	left:0px;
	top:0px;
	translate: 0% 0.5%;
	width:40px;
	height:40px;
	border-radius:50%;
	background-image:url("./WhatsApp.png")
}

.igButton{
	position:relative;
	margin-left:50%;
	translate: -50% 0%;
	background-image: linear-gradient(-170deg,#6228d7,#ee2a7b,#f9ce34);
	transition-duration:0.3s;
	width:350px;
	font-size:30px;
	text-align:center;
	padding: 3px;
	color:white;
	border-radius: 30px;
	border:2px solid white;
}
.igButton:hover{
	background-image:none;
	color:#C36082;
	cursor:pointer;
}

.igDiv{
	position:absolute;
	left:0px;
	top:0px;
	translate: 0% 0.5%;
	width:40px;
	height:40px;
	border-radius:50%;
	background-image:url("./igLogo.png");
}

.mapButton{
	position:relative;
	margin-left:50%;
	translate: -50% 0%;
	background-image:url("./mapBg.png");
	transition-duration:0.3s;
	width:350px;
	font-size:30px;
	text-align:center;
	padding: 3px;
	color:white;
	border-radius: 30px;
	border:2px solid white;
}
.mapButton:hover{
	background-image:none;
	background-color:white;
	color:#9A806C;
	cursor:pointer;
}

.mapDiv{
	position:absolute;
	left:0px;
	top:0px;
	translate: 0% 0.5%;
	width:40px;
	height:40px;
	border-radius:50%;
	background-image:url("./mapLogo.png");
}

.youtubeButton{
	position:relative;
	margin-left:50%;
	translate:-50% 0%;
	background-color:#FF0000;
	transition-duration:0.3s;
	width:350px;
	font-size:30px;
	text-align:center;
	padding: 3px;
	color:white;
	border-radius:30px;
	border:2px solid white;
}
.youtubeButton:hover{
	background-color:white;
	color:#FF0000;
	cursor:pointer;
}

.youtubeDiv{
	position:absolute;
	left:0px;
	top:0px;
	translate: 0% 0.5%;
	width:40px;
	height:40px;
	border-radius:50%;
	background-image:url("./youtube.png");
}

.bottom{
	color:rgba(0,0,0,0);
}