body{
	background-color: rgb(128, 0, 0);
}

h1{
	text-align: center;
	padding-top: 15px;
}

div{
	width: 75%;
	margin: auto;
	background-color: rgba(255, 239, 239, 0.9);
	border-radius: 5px;
}

hr{
	border: 1px solid black;
}

img{
	width: 200px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.dif-pg{
	display: inline;
	margin-right: 8px;
}

.div-pg{
	text-align: right;
	width: 100%;
	background-color: red;
	margin-top: 0px;
	border-radius: 0px;
}

.t-hr{
	margin-bottom: 0px;
}

.b-hr{
	margin-top: 0px;
}

.div-main{
	margin-top: 40px
}

a{
	color: rgb(255, 239, 239)
}