* {
	margin:0px;
	padding:0px;
}

html, body{
	height:100%;
	overflow-x:hidden;
}

body{
	background-image:url("./sword.png");
	background-attachment:fixed;
}
@media only screen and (max-width: 768px){
	div.mainDiv{
		width:99vw;
	}
}
.mainDiv{
	/*Position*/
	margin-left:auto;
	margin-right:auto;
	background-image:url("./sword.png");
	background-attachment:fixed;
	/*Shape*/
	width:55vw;
	box-shadow: 0px 0px 20px 5px black;
}

.topDiv{
	/*Position*/
	position:relative;
	margin-left:50%;
	translate: -50% 0%;
	/*Shape*/
	width:500px;
	height:190px;
	border-bottom-right-radius:30px;
	border-bottom-left-radius: 30px;
	background-image:url("./logo.png");
}

.circleDiv{
	/*Position*/
	position:absolute;
	bottom:0;
	right:50%;
	translate: 50% 50%;
	/*Shape*/
	border-radius:50%;
	height:120px;
	width:120px;
	/*Placeholder*/
	background-image:url("./pp1.jpg");
	
}
.topH1text{
	margin-top:2em;
	text-align:center;
}
.h1Text{
	margin-top:0.1em;
	text-align:center;
}

.productPhoto{
	display:block;
	margin-left:50%;
	translate: -50% 0%;
	width:375px;
	height:450px;
}

.h2Text{
	margin-top:3em;
	text-align:center;
}

.menu{
	margin-left:50%;
	translate:-50% 0%;
	width:500px;
	height:600px;
}

.waButton{
	position:relative;
	margin-top:60px;
	margin-left:50%;
	translate:-50% 0%;
	background-color:#25D366;
	font-size:30px;
	text-align:center;
	padding: 3px 100px;
	color:white;
	border-radius:30px;
	border:2px solid white;
}
.whatsAppdiv{
	position:absolute;
	left:0px;
	top:0px;
	translate: 0% 0.5%;
	width:40px;
	height:40px;
	border-radius:50%;
	background-image:url("./WhatsApp.png")
}

.igButton{
	position:relative;
	margin-top:20px;
	margin-left:50%;
	translate: -50% 0%;
	background-image: linear-gradient(-170deg,#6228d7,#ee2a7b,#f9ce34);
	font-size:30px;
	text-align:center;
	padding: 3px 100px;
	color:white;
	border-radius: 30px;
	border:2px solid white;
}

.igDiv{
	position:absolute;
	left:0px;
	top:0px;
	translate: 0% 0.5%;
	width:40px;
	height:40px;
	border-radius:50%;
	background-image:url("./igLogo.png");
}

.bottom{
	color:rgba(0,0,0,0);
}